$mainColor: #1351af;
$width: 60%;

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;  
}

header {
  background-color: $mainColor;
  padding: 16px 0;
}

header .brand {
  width: $width;
  margin: auto;
  color: wheat;
  font-weight: bold;
  font-size: 22px;
}

.main {
  width: $width;
  margin: 32px auto;
  padding: 16px;
  border: 1px solid #ddd;
  background-color: #eee;
}

section {
  padding: 16px;
  border: 1px solid #ccc;
  background-color: #eee;
}

.input {
  margin-bottom: 8px;
  display: inline-block;
}

.input input,
.input label {
  font-size: inherit;
  display: inline-block;
}

button {
  font-style: inherit;
  background-color: white;
  border: 1px solid #ccc;

  .danger {
    background-color: red;
  }
}
